body{
    background-color: rgb(55, 55,55);
    height: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
}


p {
    text-align: center;
}



#game{
    height:350px;
    width: 500px;
    max-width: 500px;
    border: 2px solid black;
    background-color: white;
    padding: 0%;
    margin: auto;
    position: relative;
    z-index: 0;
}
.Score{
    margin: 10px auto;    
}

#board{
    font-size: 30px;
    align-content: center;
    justify-content: center;
    display: flex;
}
@keyframes slide1{
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(-450px);
    }
}
@keyframes slide2{
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(-450px);
    }
}
.Block {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(55, 55,55);
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 445px;
    border-radius: 50%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.character{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(55, 55,55);
    background-color: wheat;
    margin: 0px;
    padding: 0px;
    position: absolute;
    border-radius: 50%;
    left: 5px;
}
#Countdown
{
    position: absolute;
    top:100px;
    left: 47%;
    font-size: 50px;
    user-select: none;
    animation-name: none;
    animation-duration: 1.53s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    opacity: 100;
}

@keyframes counter {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0%;
    }
}

#video{
    height: 350px;
    width: 500px;
    position:absolute;
    opacity: 25%;
    object-fit: fill;
    z-index: -1;
}
button
    {
        height: 50px;
        width: 50px;
        padding: 0px;
        background-color: transparent;
        border: 3px solid white;
        color: white;
        border-radius: 50%;
        font-family: "Lucida Console", "Lucida";
        font-size: large;
        left:-12%;
        z-index: 0;
    }
    
.C1{
    top: 295px;
}

.C2{
    top:45%;
}


.B1{
    background-color: blueviolet;
    top: 295px;
    animation-name: none;
    animation-duration: calc(60s/86.82);
    animation-delay: calc((60s/86.82)*7.5);
    opacity: 1;
}
.B2 {
    background-color: red;
    top: 45%;
    animation-name: none;
    animation-duration: calc(60s/86.8);
    animation-delay: calc((60s/86.8)/2);
    opacity: 0.25;
}

    .btn1 {
        position: absolute;
        top:80%;
        
    }

    .btn2 { 
        position: absolute;
        top: 55%;
    }


.hov1:hover
{
    background-color: rgba(138, 43, 226,14%);
}


.hov2:hover
{
    background-color: rgba(255,0,0,14%);
}
