body{
    background-color: rgb(55, 55,55);
    height: 100%;
    overflow: hidden;
}

h1 {
    text-align: center;
}


p {
    text-align: center;
}
#game{
    height:350px;
    width: 800px;
    max-width: 800px;
    border: 2px solid black;
    background-color: white;
    position: fixed;
    left: 360px;
    padding: 0%;
    overflow: hidden;
}
video{
    height: 350px;
    width: 100%;
    position:absolute;
    object-fit: cover;
    top:0%;
    opacity: 25%;
    z-index: -1;
}
.Block {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(55, 55,55);
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 770px;
    border-radius: 50%;
}

.character{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(55, 55,55);
    background-color: wheat;
    margin: 0px;
    padding: 0px;
    position: relative;
    border-radius: 50%;
}

.C1{
    top: 318px;
}

.C2{
    top:45%;
}


.B1{
    background-color: blueviolet;
    top: 255px;
}
.B2 {
    background-color: red;
    top: 25%;
}

button
    {
        height: 50px;
        width: 50px;
        padding: 0px;
        background-color: transparent;
        border: 3px solid white;
        color: white;
        border-radius: 50%;
        margin: 0px;
        font-family: "Lucida Console", "Lucida";
        font-size: large;
        position: relative;
    }
    
.btn1 {
    top: 260px;
    left: 285px;

}

.btn2 {

    position: relative;
    top: 130px;
    left: 230px;



}


.hov1:hover
{
    background-color: rgba(138, 43, 226,14%);
}


.hov2:hover
{
    background-color: rgba(255,0,0,14%);
}
